<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

  <appSettings>
  <add key="appWorkspaceId" value="5b0e2825-f2b6-479c-889b-eded262a2b09" />
  <add key="applicationId" value="b3cab77f-3b60-4d81-9042-eebd8ecac493" />

  <add key="appUserWorkspaceId" value="e47b428c-4fa1-4ce0-901e-998e26e759f3" />
  <add key="UserReportTemplateId" value="97b305df-7556-44ea-82cb-4fb2818e23a3" />
  <add key="UserDatasetTemplateId" value="34a9a2e0-fefa-4e28-b936-b14c7cf0f2f2" />
  
  

  <!-- Note: Except in this lab, do NOT store credentials in cleartext -->
  <add key="pbiUsername" value="absamuel@SPE479125.onmicrosoft.com" />
  <add key="pbiPassword" value="PBI@pass!123" />
  </appSettings>
