<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

  <appSettings>
  <add key="appWorkspaceId" value="5b0e2825-f2b6-479c-889b-eded262a2b09" />
  <add key="applicationId" value="2e986a59-eeb6-4749-8418-5fc2aad3d059" />

  <add key="appUserWorkspaceId" value="e47b428c-4fa1-4ce0-901e-998e26e759f3" />

  <!-- Note: Except in this lab, do NOT store credentials in cleartext -->
  <add key="pbiUsername" value="absamuel@SPE479125.onmicrosoft.com" />
  <add key="pbiPassword" value="PBI@pass!123" />
  </appSettings>
